/* Colors hex

oxford-blue: #14213d;
orange-web: #fca311;
white: #ffffff;

emerald: #33CA7f;
indian red: #db5461;




blue (NCS): #2e86ab;
indian red: #db5461;
dark cyan: #129590;

black: #000000;
platinum: #e5e5e5;
*/

body {
  font-family: sans-serif;
  color: #14213d;
  background-color: #ffffff;
  margin: 0;
}

body p {
  font-size: 1.2em;
}

.header {
  display:flex;
  /* background-color: #fca311; */
  background-color: #ffffff;
  color: #14213d;
  padding: 10px;
  align-items: center;
}

.header img {
  height: 100px;
}

.header h1 {
  font-size: 2em;
  padding-left: 20px;
}

.nav {
  justify-content: flex-end;

/* Ne fonctionne pas ! */

}

.menu {
  display: flex;
  padding: 0;
  margin-left: 5rem;;
}

.menu li {
  list-style-type: none;
}

.menu a {
  display: block;
  min-width: 110px;

  margin: 0.5rem;
  padding: 0.4rem 0;
  text-align: center;
  background-color: #fca311;
  color: #14213d;
  text-decoration: none;
  border: none;
  border-radius: 4px; 
}

.menu a:hover {
  background-color: #14213d;
  color: #ffffff;  
}

.article {
  margin: 0;
  padding: 10px;
}

.article h1 {
  font-size: 4em;
}

#article-titre {
  background-color: #14213d;
  color: #ffffff;
  padding:  150px 10px;
}

#article-titre h1 {
  font-size: 5em;
  margin: 0;
  /* word-spacing: 100vw; */
}

#randonnee{
  background-color: #ffffff;
  color:#33ca7f;
}

#activites {
  background-color: #ffffff;
  color: #14213d;
}

#hockey {
  background-color: #ffffff;
  color: #fca311;
}

#freestyle {
  background-color: #14213d;
  color: #db5461;
}

button {
  background-color: #fca311;
  border: none;
  border-radius: 4px;
  color: #14213d;
  padding: 10px;
  font-size: 1.2em;
}

button:hover {
  background-color: #db5461;
  color: #ffffff;
}

.footer {
  text-align: center;
}

.cards {
  display: flex;
  margin: 0;
  padding: 10px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  height: 400px;
  margin: 20px 20px;
  flex-wrap: wrap;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 80%;
}

/* Add some padding inside the card container */
.card-text {
  padding: 2px 16px;
}